h1{
	color: #ffa511;
	line-height: 1.5;
	font-family: league spartan;
	text-align: center;
	font-weight: 900;
	letter-spacing: 2px;
	text-decoration: teal double underline;
	text-transform: uppercase;

}