*{
	text-align: center;
}

#mainTopic{
color: blue;
}
h1, h3, h5{
	font-style: Georgia;
}
.col{
	background-color: cornflowerblue;
	color: white;
}
.col{
	background-color: cornflowerblue;
	color: white;
}
div > button{
background-color: purple;
color: azure;
}
button:hover{
	background-color: yellow;
	color: blue;
}
#yes:checked + label {
	color: darkgreen;
	
}
h1::first-letter{
	color: red;
}
p:nth-of-type(2n+1){
	color: yellow;
}